.BoldTitle {
	display: block;
	font-size: 1.5em;
	margin: auto 0;
	text-align: left;
}
.BoldTitle .outer-title {
	font-family: 'Source Code Pro';
	font-weight: 400;
	margin: 0;
	padding-bottom: 0;
}
.inner-title {
	border-bottom: solid 3px #a5acaf;
	font-family: 'operator mono', 'menlo', monospace;
	font-style: italic;
	font-weight: 900;
	margin: 0;
	padding-bottom: 0;
}

.title-paren {
	color: #69BE28;
	font-size: 140%;
	font-weight: 900;
	vertical-align: baseline;
	text-shadow: -1px 1px 20px yellow;
}
/*
.paren-open {

}

.paren-close {

}*/
/*.BoldTitle .sub-title {
	font-weight: 100;
	font-size: .75em;
	margin: 0;
	padding: 7px 10px 0 0;
}*/
