.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One|Anonymous+Pro:400,700|Autour+One|Fira+Mono:400,700|Nova+Square|Offside");
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    background: #111;
    width: 100%;
    font-size: 20px;
}

.header {
    background: #444;
    color: #000;
    margin: 0;
    padding: 0 1em;
    height: 6vmin;
    position: fixed;
    top: 0;
    width: 100%;
}

.header .title {
    margin: auto;
    font-family: "Play", cursive;
}

.header .sub-title {
    color: #444;
    margin: .5rem 0 auto .2rem;
}

.app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 1em;
    overflow: hidden;
}

.app .clock-wrap {
    margin: 6rem 0 0 0;
    padding: 0;
}

.app .clock-wrap .clock {
    font-family: "Offside", cursive;
}

.app .clock-wrap .clock .clock-work-ttl {
    display: block;
    text-align: center;
    width: 100%;
}

.app .clock-wrap .clock .flex-display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 66%;
    margin: auto;
}

.app .clock-wrap .clock .flex-display .block {
    display: block;
    width: inherit;
}

.app .clock-wrap .clock .flex-display .block .timer {
    background: transparent !important;
    border: none;
    display: none;
    line-height: 1;
    margin: auto;
    padding: 0;
    text-align: center;
    width: 100%;
}

.app .clock-wrap .clock .flex-display .block .digit {
    line-height: 1;
    margin: auto;
    padding: 0;
    text-align: center;
}

.app .clock-wrap .clock .flex-display .block .label {
    display: block;
    color: #000;
    text-align: center;
    margin: auto;
    width: 80%;
}

.app .clock-wrap .clock .flex-display .hour,
.app .clock-wrap .clock .flex-display .hr {
    color: lime;
    text-shadow: -3px 0 40px lime;
    outline-color: lime;
}

.app .clock-wrap .clock .flex-display .hour .label,
.app .clock-wrap .clock .flex-display .hr .label {
    background: lime;
    box-shadow: 3px 0 40px lime;
}

.app .clock-wrap .clock .flex-display .min,
.app .clock-wrap .clock .flex-display .mn {
    color: skyblue;
    text-shadow: -3px 0 40px skyblue;
    outline-color: skyblue;
}

.app .clock-wrap .clock .flex-display .min .label,
.app .clock-wrap .clock .flex-display .mn .label {
    background: skyblue;
    box-shadow: 3px 0 40px skyblue;
}

.app .clock-wrap .clock .flex-display .sec,
.app .clock-wrap .clock .flex-display .sc {
    color: red;
    text-shadow: -3px 0 40px red;
    outline-color: red;
}

.app .clock-wrap .clock .flex-display .sec .label,
.app .clock-wrap .clock .flex-display .sc .label {
    background: red;
    box-shadow: 3px 0 40px red;
}

.app .clock-wrap .clock .flex-display .blink {
    color: rgba(255, 255, 255, 0.66);
    font-weight: bold;
    margin: 0 .333rem;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.app .sub-clock-wrap {
    padding: 0;
    margin: 0;
}

.app .go-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 1rem;
}

.app .go-wrap .go {
    width: 66%;
    font-weight: bold;
    margin-top: 1rem;
    padding: 1rem;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.app .go-wrap .go h2 {
    margin: 0;
}

.app .go-wrap .go:hover {
    background: #fff;
    box-shadow: 2px 0 40px #fff;
    color: #000;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.app .clock-controls {
    height: 100%;
}

.footer {
    background: #444;
    position: fixed;
    bottom: 0;
    width: 100%;
}

input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    margin: auto;
}

input[type=number] {
    -moz-appearance: textfield;
    margin: auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
