.SearchForm {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.SearchForm form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #000;
	border: inset 5px #999;
	color: #fff;

	min-width: 400px;
	max-width: 750px;
	width: 70vw;

	padding: 14px 16px 12px 16px;
}

.SearchForm form input {
	color: white;
	outline: none;
}

.SearchForm form .search {
	background-color: transparent;
	border: none;
	font-size: 36px;
	width: 100%;
}

.SearchForm form .submit {
	background-color: transparent;
	box-shadow: none;
	border: none;
	border-radius: 5px;
	color: white;
	padding: 2px 5px;
	height: 42px;
	width: 42px;
}

.SearchForm form .submit:hover {
	background: forestgreen;
	box-shadow: 0 0 20px #00ff00;
}
